body {
	margin: 0px 0px 0px 0px;
	background-color: #FFFFFF;
	
}

#content {
    position: absolute;
    left: 25%;
    width: 500px;

}
p.signup_button {
    text-align: center;
}

p.thanks {
    v-align: top;
    text-align: center;
    font-family: Helvetica;
}
p.content, tr.checkbox, p.checkbox {
    text-align: left;
    font-family: Helvetica;
}
#checkbox {
    text-align: center;
    border: 1px solid;
    padding-left: 25px;

}

