Thanks for registering with sherpa!  We'd like to welcome you to the 
sherpa community.

Sherpa is committed to offering world class customer service and 
support. Give us a call on our toll-free number, [% phone %]. 
We also have live chat and email support available on 
http://www.[% domain %]/support.html.

A detailed description of how to use sherpa is available at
http://www.[% domain %]/howto.html

First steps:

** Your unique email address is [% recipient %] ***

Your unique email address is the key to using sherpa to post comments 
to Basecamp(tm) via email.  As you know, s new message or comment on 
Basecamp sends you an email alert if you are subscribed to that message.  
To post to that Basecamp message via email, simply forward the Basecamp 
email alert to [% recipient %] the same way you would 
forward any email, with your comments typed in above the original message.

Sherpa will read your email forward and then post your comments to the
appropriate Basecamp(tm) message thread for you.  

Tip: Enter your unique sherpa email address 
[% recipient %] into the address book 
of your mobile email client.  This way, you can quickly and easily 
forward emails because your email client will usually 
autofill the address for you.  For instance, create an address record 
named 'sherpa' with the email address [% recipient %].  
Then, all you do is type 'sherpa' when forwarding comments to Basecamp.

If you have any questions or would like to speak with us, please visit
http://www.[% domain %]/support.html.

Thank you for using sherpa.  Please let us know what you think.
 


The sherpa Team
[% phone %]
sherpa@[% domain %]