<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Sherpa Signup</title>
<link rel="stylesheet" href="http://www.silverliningnetworks.com/sherpa/styles.css" type="text/css" />
<script type="text/javascript">
    var theForm;
    var requestSubmitted = false;  

    function disableButton(btn,form,buttonType) {
        if (!requestSubmitted) {
            var submitMessage = "Please Wait...  ";
            btn.value = submitMessage;
            theForm = form;
            btn.disabled = true;
            requestSubmitted = true;
            setTimeout("submitIt()", 250);
        } else {
            return false;
        }
    }
    function submitIt() {
        theForm.submit();
        return false;
    }
</script>
</head>
<body>


  <div id="top">
		  <p class="sherpa_logo">
			<a href="http://www.sherpamail.com/"><img border="0" src="http://www.silverliningnetworks.com/sherpa/logo.gif"></a>
			</p>
	  <div id="right_top">
			<a href="/cgi-bin/sherpa/signup.cgi">
				<img border="0" src="http://www.silverliningnetworks.com/sherpa/ready.gif"></a>
			<a href="http://www.sherpamail.com/support.html">
				<img border="0" src="http://www.silverliningnetworks.com/sherpa/support.gif"></a>
		<div id="buttons">
			<a href="http://www.sherpamail.com/learn.html">
				<img border="0" src="http://www.silverliningnetworks.com/sherpa/buttons/learn_more_off.gif"></a>
			<a href="/cgi-bin/sherpa/signup.cgi">
				<img border="0" src="http://www.silverliningnetworks.com/sherpa/buttons/signup_on.gif"></a>
		</div>
	  </div>
  </div>
  <div id="main">

<div id="content">
<p style="text-align: center;">
<form method="post" action="/cgi-bin/sherpa/signup.cgi" name="signup">
<input type="hidden" name="rm" value="thanks">
<p>&nbsp;</p>
<div id="form">
<p class="main_form">
    <p class="content" style="font-size: 28px; color: #FF7F04;">Signup</p>
  <p class="content" style="font-weight: normal;">Thank you for your interest in sherpa.  Please complete the following form to register for your free 30 day trial sherpa account.  After 30 days, sherpa costs just $20 for a full year.  Once you signup, you will receive an email and be ready to go immediately.</p>
    [% IF any_errors %]
    <p class="content"><img src="http://www.silverliningnetworks.com/sherpa/error_icon.gif">&nbsp;&nbsp;<font color="red">Please correct the fields highlighted in red</font>&nbsp;</p>
    <ul>
[% END %]  
  [% IF err_login %]
    <p class="content"><font color="red"><li>There was a problem with your Basecamp login information</li></font></p>
  [% END %]
  [% IF err_url %]
    <p class="content"><font color="red"><li>There was a problem with your Basecamp URL</li></font></p>
  [% END %]

  [% IF err_email %]
    <p class="content"><font color="red"><li>Please check your email address</li></font></p>
  [% END %]
  [% IF err_dupe_user %]
    <p class="content"><font color="red"><li>Sorry you've already signed up with that email address and basecamp user combination.</li></font></p>
  [% END %]
    [% IF any_errors %]
    </ul>
    [% END %]

<input type="hidden" name="dupe_user" value="1">

<p class="text-align: center;">
	<table style="width: 550px;border: 1px solid; border-color: #CCCCCC; padding: 5px;">
	<tr>
<td class="content_form">
  [% IF err_name %]
    <font color="red">
    [% END %]
	Name this account:&nbsp;</td>
    <td><input type="text" size="10" maxlength="10" name="name" value="[% name %]"></td>
</tr><tr>
<td>&nbsp;</td><td class="content_light">(This can be any name, but it can be helpful to use your Basecamp Company name)</td>
</tr>

<td class="content_form">
   [% IF err_email %]
    <font color="red">
    [% END %]
Email address:&nbsp;</td>
<td><input type="text" size="25" maxlength="50" name="email" value="[% email %]"></td>
</tr><tr>
<td>&nbsp;</td><td class="content_light">(Address from which you will be forwarding emails to sherpa)</td>
</tr>
<tr>
<td class="content_form">
    [% IF err_login %]
  <font color="red">
  [% END %]
Basecamp Username:&nbsp;</td>
<td><input type="text" size="10" maxlength="25" name="login" value="[% login %]"></td>
</tr><tr>
<td>&nbsp;</td><td class="content_light">(Your Basecamp login)</td>
</tr>
<tr>
<td class="content_form">
    [% IF err_login %]
  <font color="red">
  [% END %]
* Basecamp Password:&nbsp;</td>
<td><input type="password" size="10" maxlength="25" name="pass" value="[% pass %]"></td>
</tr><tr>
<td>&nbsp;</td><td class="content_light">(Your Basecamp password)</td>
</tr><tr>
<td class="content_form">
    [% IF err_url %]
	<font color="red">
  [% END %]
  Basecamp URL:&nbsp;</td>
	<td><input type="text" size="25" maxlength="50" name="url" value="[% url %]"></td>
	<td>&nbsp;</td></tr><td>
<td class="content_light">(e.g. http://yoursite.clientsection.com)</td>
</tr></table>
</p>
  <p style="text-align: center;" class="signup_button"><input type="submit" value="Signup" onclick="javascript: return disableButton(this,signup,null)"></p>
</form>
<p class="content">* Your password is needed to post your comments to Basecamp.  It is stored encrypted in our database.  We take security very seriously.</p>
</div>
</div>
</div>
</body>
</html>

